body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f4f4;
color: #333;
}
.sfondo {
padding: 50px;
text-align: center;
background-image: url("immagini/sfondo_Madrid_homepage.png");
    background-size: cover;      /* adatta l’immagine */
    background-repeat: no-repeat;
    color: white;
}
/* bottoni in alto*/
nav {
display: flex;
justify-content: center;
gap: 15px;
background: #fff;
padding: 15px;
position: sticky;
top: 0;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


nav button {
padding: 10px 20px;
border: none;
background: orange;
color: white;
cursor: pointer;
border-radius: 4px;
font-size: 15px;
}


nav button:hover {
background: orangered;
}
/*bottoni centrali*/
a {
text-decoration: none; /* rimuove la sottolineatura */
color: inherit;        /* mantiene il colore del testo */
border: none;
padding: 30px;
max-width: 900px;
width: 100%;
}
.center {
    display: flex;
    justify-content: center; /* centro orizzontalmente */
    margin-top: 40px;        /* opzionale */
}
.my-btn {
    background: white;
    text-align: left;
    border: none;
    padding: 30px;
    max-width: 900px;
    width: 100%;                     /* così si adatta ma non supera 900px */
    border-radius: 6px;             /* opzionale: arrotondamento */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* sfumatura ombra */
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}
.cultura{
    background: white;
    border: none;
    padding: 30px;
    max-width: 900px;
    width: 100%;                     /* così si adatta ma non supera 900px */
    border-radius: 6px;             /* opzionale: arrotondamento */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* sfumatura ombra */
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;  /* testo sopra e immagine sotto */
  justify-content: center; /* verticale */
  align-items: center;
  text-align: center;     
}
.my-btn:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    background-color: rgb(206, 205, 205);
}

.social {
text-align: center;
margin-top: 15px;
}


.social a {
color: white;
background: #e1306c;
padding: 8px 16px;
border-radius: 4px;
text-decoration: none;
}

.social a:hover {
background: #c72c61;
}


footer {
text-align: center;
padding: 20px;
background: #222;
color: white;
margin-top: 40px;
}

.griglia{
width: 600px;
}
img{
border-radius: 6px;
}